In [1]:
import json
import pandas as pd

In [2]:
filename = 'challenge_test.json'
text = []
right_answers = []

with open(filename, 'r', encoding='utf-8') as f:
    data = json.load(f)

for sample in data:
    text.append(sample['Problem'] + ' The options are: ' + sample['options'])
    right_answers.append(sample['correct'])

In [3]:
data = {
    'Question':text,
    'Correct Answer':right_answers
}
df_challenge = pd.DataFrame(data)
df_challenge.insert(0,'Name','MathQA_challenge_test')
df_challenge.insert(1,'Category','Challenging Math')
df_challenge

,Name,Category,Question,Correct Answer
0,MathQA_challenge_test,Challenging Math,there are 1000 buildings in a street . a sign ...,c
1,MathQA_challenge_test,Challenging Math,a man bought 20 shares of rs . 50 at 5 discoun...,c
2,MathQA_challenge_test,Challenging Math,"? % of 360 = 108 The options are: a ) 30 , b )...",a
3,MathQA_challenge_test,Challenging Math,a corporation double its annual bonus to 100 o...,a
4,MathQA_challenge_test,Challenging Math,a and b together do a work in 20 days . b and ...,b
...,...,...,...,...
599,MathQA_challenge_test,Challenging Math,"if a coin is flipped , the probability that th...",b
600,MathQA_challenge_test,Challenging Math,two brothers take the same route to school on ...,d
601,MathQA_challenge_test,Challenging Math,the ratio of the cost price and the selling pr...,c
602,MathQA_challenge_test,Challenging Math,what is the value of ( 44444445 * 88888885 * 4...,a
603,MathQA_challenge_test,Challenging Math,4 shepherds were watching over the flocks and ...,b

In [4]:
filename = 'dev.json'
text = []
right_answers = []

with open(filename, 'r', encoding='utf-8') as f:
    data = json.load(f)

for sample in data:
    text.append(sample['Problem'] + ' The options are: ' + sample['options'])
    right_answers.append(sample['correct'])

In [5]:
data = {
    'Question':text,
    'Correct Answer':right_answers
}
df_dev = pd.DataFrame(data)
df_dev.insert(0,'Name','MathQA_dev')
df_dev.insert(1,'Category','Math')
df_dev

,Name,Category,Question,Correct Answer
0,MathQA_dev,Math,a multiple choice test consists of 4 questions...,c
1,MathQA_dev,Math,a 3 - digit positive integer is chosen at rand...,b
2,MathQA_dev,Math,if x and y are positive integers and 7 + x + y...,c
3,MathQA_dev,Math,the hcf and lcm of two numbers m and n are res...,d
4,MathQA_dev,Math,"in a kilometer race , a beats b by 48 meters o...",a
...,...,...,...,...
4470,MathQA_dev,Math,how many figures are required for numbering th...,c
4471,MathQA_dev,Math,if the length of the longest chord of a certai...,b
4472,MathQA_dev,Math,in how many ways 2 boys and 2 girls can be sea...,b
4473,MathQA_dev,Math,"for what value of x , is | x â€“ 3 | + | x + 1 |...",e
4474,MathQA_dev,Math,the ratio of number of boys and girls in a sch...,d

In [6]:
filename = 'test.json'
text = []
right_answers = []

with open(filename, 'r', encoding='utf-8') as f:
    data = json.load(f)

for sample in data:
    text.append(sample['Problem'] + ' The options are: ' + sample['options'])
    right_answers.append(sample['correct'])

In [7]:
data = {
    'Question':text,
    'Correct Answer':right_answers
}
df_test = pd.DataFrame(data)
df_test.insert(0,'Name','MathQA_test')
df_test.insert(1,'Category','Math')
df_test

,Name,Category,Question,Correct Answer
0,MathQA_test,Math,a shopkeeper sold an article offering a discou...,a
1,MathQA_test,Math,what will be the difference between simple and...,a
2,MathQA_test,Math,there are 28 stations between hyderabad and ba...,c
3,MathQA_test,Math,the present population of a town is 3888 . pop...,e
4,MathQA_test,Math,the triplicate ratio of 1 : 9 is ? The options...,e
...,...,...,...,...
2980,MathQA_test,Math,find the area of a parallelogram with base 20 ...,c
2981,MathQA_test,Math,"in a garden , there are 10 rows and 14 columns...",e
2982,MathQA_test,Math,a can do a piece of work in 6 hours ; b and c ...,d
2983,MathQA_test,Math,a train 250 m long running at 72 kmph crosses ...,a
2984,MathQA_test,Math,4 shepherds were watching over the flocks and ...,b

In [8]:
filename = 'train.json'
text = []
right_answers = []

with open(filename, 'r', encoding='utf-8') as f:
    data = json.load(f)

for sample in data:
    text.append(sample['Problem'] + ' The options are: ' + sample['options'])
    right_answers.append(sample['correct'])

In [9]:
data = {
    'Question':text,
    'Correct Answer':right_answers
}
df_train = pd.DataFrame(data)
df_train.insert(0,'Name','MathQA_train')
df_train.insert(1,'Category','Math')
df_train

,Name,Category,Question,Correct Answer
0,MathQA_train,Math,the banker ' s gain of a certain sum due 3 yea...,a
1,MathQA_train,Math,average age of students of an adult school is ...,d
2,MathQA_train,Math,sophia finished 2 / 3 of a book . she calculat...,b
3,MathQA_train,Math,120 is what percent of 50 ? The options are: a...,b
4,MathQA_train,Math,there are 10 girls and 20 boys in a classroom ...,a
...,...,...,...,...
29832,MathQA_train,Math,a man invests some money partly in 10 % stock ...,a
29833,MathQA_train,Math,"average of 10 matches is 32 , how many runs on...",d
29834,MathQA_train,Math,solve below question 2 x + 1 = - 23 The option...,c
29835,MathQA_train,Math,calculate 85184 Ã· ? = 352 The options are: a )...,b
29836,MathQA_train,Math,7.51 8.22 7.86 8.36 8.09 7.83 8.30 8.01 7.73 8...,e

In [10]:
df_all = pd.concat([df_challenge,df_dev,df_test,df_train],ignore_index=True)
df_all.Category.value_counts()

Category
Math                37297
Challenging Math      604
Name: count, dtype: int64

In [11]:
df_easy = pd.concat([df_dev,df_test,df_train],ignore_index=True)

In [12]:
df_all.to_csv('../preprocessed/mathQA.csv',index=False)

In [13]:
df_easy.to_csv('mathQA_easy.csv',index=False)
df_challenge.to_csv('mathQA_hard.csv',index=False)